<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- JQUERY  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <base href="/" />

    <!-- Link css -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- link fontawelsome -->
    <script
      src="https://kit.fontawesome.com/761dc2bc73.js"
      crossorigin="anonymous"
    ></script>

    <!-- link sweet alert  -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function hideNav(){
          var x = document.getElementById("hd1");
          var y = document.getElementById("hd2");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "block";
          } else {
            x.style.display = "none";
            y.style.display = "none";
          }
        }
      </script>
      
      <script>
        $(document).ready(function () {
          var firstName = $('#firstName').text();
          var intials = $('#firstName').text().charAt(0) + $('#lastName').text().charAt(0);
          var profileImage = $('#profileImage').text(intials);
        });
      </script>

    <title>THIS IS A TITLE</title>
  </head>

  
  <body>
      <p>
          <b
            >Cars >
            <a href="/cars" style="text-decoration: unset; color: black">List Car</a> > </b
          >Add New Car
        </p>
        <h5><b>Add New Car</b></h5>
        
        <form method="post" action="/cars" enctype="multipart/form-data">
          <div class="kotakinputnewcar">
            <div class="row">
              <div class="col-sm-3">
                <label for="nama" class="form-label">Nama</label>
              </div>
              <div class="col-sm-8">
                <input
                  name="nama"
                  style="color: gray"
                  type="text"
                  class="form-control"
                  id="nama"
                  placeholder="Nama mobil"
                  required
                />
              </div>
            </div>
        
            <div class="row">
              <div class="col-sm-3">
                <label for="harga_sewa" class="form-label">Sewa Per Hari</label>
              </div>
              <div class="col-sm-8">
                <input
                  name="sewa"
                  style="color: gray"
                  type="number"
                  class="form-control"
                  id="harga_sewa"
                  placeholder="Rp.0,-"
                  required
                />
              </div>
            </div>
        
            <div class="row">
              <div class="col-sm-3">
                <label for="size" class="form-label">Ukuran</label>
              </div>
              <div class="col-sm-8">
                <select
                  name="ukuran"
                  style="color: gray"
                  class="form-select"
                  id="ukuran"
                  required
                >
                  <option selected>Pilih size</option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="big">Large</option>
                </select>
              </div>
            </div>
          </div>
          <a href="/cars"
            ><button type="button" class="btn btn-outline-primary btninput">
              cancel
            </button></a
          >
          <button type="submit" class="btn btn-primary btninput2">save</button>
        </form>

        <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>