<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- JQUERY  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <base href="/" />

    <!-- Link css -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- link fontawelsome -->
    <script
      src="https://kit.fontawesome.com/761dc2bc73.js"
      crossorigin="anonymous"
    ></script>

    <!-- link sweet alert  -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function hideNav(){
          var x = document.getElementById("hd1");
          var y = document.getElementById("hd2");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "block";
          } else {
            x.style.display = "none";
            y.style.display = "none";
          }
        }
      </script>
      
      <script>
        $(document).ready(function () {
          var firstName = $('#firstName').text();
          var intials = $('#firstName').text().charAt(0) + $('#lastName').text().charAt(0);
          var profileImage = $('#profileImage').text(intials);
        });
      </script>

    <title>THIS IS A TITLE</title>
  </head>
  <body>
      <!-- nav -->
    <div class="container-fluid tempatisi">
        <div class="template-nav">
            <div class="divnav">
              <div class="row navigasi">
                <div id="hd1" class="col-md-2 nav-bg-2">
                  <p class="kotak2"></p>
                </div>
                <div class="col">
                  <h2><i class="bi bi-list" onclick="hideNav()"></i></h2>
                  <div class="kanan">
                    <form class="d-flex">
                      <input class="form-control" type="search" placeholder="Search here..." aria-label="Search" />
                      <button class="btn btn-outline-primary" type="submit">
                        Search
                      </button>
                    </form>
                    <div id="profileImage"></div>
                    <span id="firstname">Sidi</span>
                    <span id="lastnamme" class="marginright2">Snut</span>
                    <i class="bi bi-chevron-down me-2"></i>
                  </div>
                </div>
              </div>
              <!-- add car -->
              <div class="row isi">
                <div id="hd2" class="col-md-2 nav-bg">
                  <h6 class="mt-3">CARS</h6>
                  <a href="/cars/add" style="text-decoration: unset; color: black">
                    <h6>Add Car</h6>
                  </a>
                </div>
                <!-- end of nav -->

                <!-- car list -->
                

                <div class="col isikonten">
                    <div class="kotaklist">
                        <div class="kotak1 kotak">
                          <a href="/Cars"><b>
                              <p>All</p>
                            </b></a>
                        </div>
                        <div class="kotak2 kotak">
                          <a href="/filter/small">
                            <b>
                              <p>Small</p>
                            </b></a>
                        </div>
                        <div class="kotak3 kotak">
                          <a href="/filter/medium"><b>
                              <p>Medium</p>
                            </b></a>
                        </div>
                        <div class="kotak4 kotak">
                          <a href="/filter/big"><b>
                              <p>Large</p>
                            </b></a>
                        </div>
                      </div>

                    <div class="row">
                        <% data.forEach(result => { %>
                          <div class="col-sm-4 colomisi mt-4">
                            <div class="card">
                              <img src="car.png" class="card-img-top" alt="car" />
                              <div class="card-body">
                                <p class="card-text">
                                  <%= result.nama %>
                                </p>
                                <h5 class="card-title">Rp. <%= result.sewa %> / hari</h5>
                                <p class="ud card-text">
                                  <i class="bi bi-clock"></i> Updated <%= result.updatedAt %>
                                </p>
                                <div class="row row-button">
                                  <div class="col" style="background-color: unset">
                                    <a href="/cars/<%= result.id %>" class="btn btn-outline-danger delete"><i
                                        class="bi bi-trash"></i> Delete</a>
                                  </div>
                                  <div class="col" style="background-color: unset">
                                    <a href="/cars/update/<%= result.id %>" class="btn btn-success edit"><i class="bi bi-pencil-square"></i>
                                      Edit</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% }) %>
                      </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- end of car list -->
    

    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
