<!-- <form method="POST" action="/cars" enctype="multipart/form-data"> -->
    <form method="post" action="/cars/<%= id %>">
        <div>
            <label>Nama</label>
            <input name="nama" type="text" value="<%= nama %>" />
        </div>
        <div>
            <label>Sewa</label>
            <p>Log Sewa :
                <%= sewa %>
            </p>
            <input name="sewa" type="number" value="<%=sewa%>" />
        </div>
        <div>
            <label>Ukuran</label>
            <select name="ukuran">
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="big">Big</option>
              </select>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>