.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
  line-height: 25px;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
  height: auto;
}

.nav-pad{
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 10px;
  max-width: 100%;
}

.owl-nav {
background-color: transparent;
color: transparent;
}

.navText {
padding-right: 10px;
}

.navbar-brand{
  color: black;
  font-size: large;
  max-width: 100%;
}
.nav-width{
  max-width: 100%;
  height: auto;
  float: right;
}

.top-nav{
  padding-top: 40px;
}

.nav-blue-btn{
  position: relative;
  width: 100px;
  height: 34px;
  display: flex;
  max-width: 100%;
  

  /* Primary/DarkBlue/04 */

  background: #0D28A6;
}
.filter-box{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;



/* Inside auto layout */

flex: auto;
order: 0;
flex-grow: 1;
margin: 0px 16px;


}

.filter-card{
position: absolute;
width: 1047px;
height: 106px;
left: 196px;
top: 458px;

/* Neutral/01 */

background: #FFFFFF;
/* Shadow/High */

box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}

#search-result {
padding-top: 200px;
padding-inline: 175px;
text-align: center;
}

#cars-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
margin: 0;
gap: 2%;
row-gap: 25px;
}

#cars-container div {
width: 32%;
}

#cars-container .card {
height: 550px;
margin: 0;
border-radius: 10px;
}

#cars-container .card .card-body {
display: flex;
flex-direction: column;
padding: 20px;
}

#cars-container .card .card-body img {
height: 200px;
}

/* car specification */

#car-spec {
display: flex;
flex-direction: column;
text-align: left;
height: 100%;
justify-content: space-between;
}

#car-spec p {
margin-block: 10px;
font-size: 15px;
}

#car-spec h6 {
font-weight: bold;
margin-block: 10px;
}

#car-spec i {
margin-right: 5px;
}

#car-spec .car-spec-icon {
justify-self: end;
}

#car-spec .car-spec-btn {
width: 100%;
margin: 0;
border-radius: 10px;
}

.star {
  color: yellow;
  display: flex;
  justify-content: center;
}

.testi-middle {
text-align: center;
}

.rounded-button {
width: 32px;
height: 32px;
border-radius: 50%;
margin: 10px;
padding: 3px;
display: inline-block;
border: 1px solid #c4c4c4;
}

.rounded-button:hover {
background-color: #5cb85f;
}

.testi-btn {
color: black;
}


.blue-bg{
  padding-top: 100px;
  position: relative;
  max-width: 100%;
}

.nav-bg{
  background: rgb(241, 240, 240);
  max-width: 100%;
  height: auto;
  margin: 0;
}

.btn-sewa{
  top: 100px;
}

.car{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.nav-desc{
  font-size: medium;
}

.desc{
font-size: 14px;
line-height: 20px;
color: #0d28a6;
}

.circle-bg-1{
  position: absolute;
  width: 133px;
  height: 133px;
  left: 0px;
  top: 1px;
  border-radius: 50%;
  background: #92D094;
  max-width: 100%;
}

.circle-bg-2{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 60px;
  top: 336px;
  background: #F9CC00;
  border-radius: 50%;
  max-width: 100%;
}

.circle-bg-3{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 383px;
  top: 43px;
  background: #FA2C5A;
  border-radius: 50%;
  max-width: 100%;
}

.circle-bg-4{
  position: absolute;
  width: 360px;
  height: 360px;
  left: 99px;
  top: 68px;
  border-radius: 50%;
  max-width: 100%;
  background: #0D28A6;
}

.service-girl{
  position: relative;
  width: 374px;
  height: 366px;
  left: 90px;
  top: 42px;
  max-width: 100%;
}

.service-girl-2{
  position: relative;
  width: 374px;
  height: 366px;
  left: 99px;
  top: 66px;
  max-width: 100%;
}

.service-pad{
  padding-top: 50px;
}

.girl-img-width{
max-width: 100%;
}

.text-service{
  padding-top: 80px;
}

.top-margin {
  margin-top: 100px;
}

.top-margin-2{
margin-top: 20px;
}

.check {
  display: inline-block;
  border-radius: 50%;
  padding-top: 15px;
  box-shadow: 0 0 2px white;
  width: 24px;
  height: 24px;
  padding: 5px 6px;
  background-color: #cfd4ed;
  color: #0d28a6;
}

.why-us{
    padding-top: 100px;
}

.why-card-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  
  position: static;
  width: 268px;
  height: 196px;
  left: 0px;
  top: 0px;
  
  /* Neutral/02 */
  
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 32px;
}


.why-bg {
  display: inline-block;
  border-radius: 50%;
  padding-top: 15px;
  box-shadow: 0 0 2px white;
  width: 24px;
  height: 24px;
  padding: 5px 6px;
  color: #0d28a6;
}

.why-icon{
  position: absolute;
  color: white;
}

.testi-text{
  text-align: center;
}

.testi-title{
  padding-top: 80px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.sewa-cont {
  background-color: #0d28a6;
  width: 1168px;
  height: 326px;
  border-radius: 10px;
  max-width: 100%;
}

.sewa-cont-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.sewa-btn {
  margin-top: 50px;
}

.sewa-text {
  width: 468px;
  color: white;
  margin-top: 16px;
  max-width: 100%;
}

.sewa-title {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-top: 70px;
  max-width: 100%;
}

.flexMidCenter {
  display: flex;
  align-items: center;
  float: right;
}

.footer-foot{
font-size: 14px;
}

.foot-logo {
display: inline-block;
border-radius: 50%;
box-shadow: 0 0 2px white;
width: 32px;
height: 32px;
padding: 9px 11px;
background-color: #0d28a6;
color: white;
margin-bottom: 16px;
}

.foot-logo-1 {
display: inline-block;
border-radius: 50%;
box-shadow: 0 0 2px white;
width: 32px;
height: 32px;
padding: 9px;
background-color: #0d28a6;
color: white;
margin-bottom: 16px;
margin-left: 10px;
}

.col-flex {
display: flex;
flex-direction: column;
}

.top-margin-footer{
margin-top: 16px;
}